.header{
    background-color:rgb(54, 54, 54) ;
    height: 60px;

}

.logo{
    height: 90px;
    width: 90px;
    
}
.grde-img{
    background-image: url(bike-background.jpg);
    height: 300px;
    background-size: cover;
    background-position: center;
}
.c{
    text-decoration: none;
    color: white;
    

}
.container{
    background-color: rgb(196, 196, 196);
    background-size: cover;
    background-position: center;
    opacity: 95%;
}
body{
    background-color: rgb(196, 196, 196);
    background-size: cover;
    background-position: center;
    opacity: 95%;

}